<link href="/style/screen.css" rel="stylesheet" type="text/css">

<h1>Register for New Wallet</h1>

<form action="register" method="POST">
  <div class="input-block">
    <label for="username">Username: </label> <input type="text" name="username" id="username"/>
  </div>
  <div class="input-block">
    <label for="password">Password: </label> <input type="password" name="password" id="password"/>
  </div>
  <div class="input-block">
    <label for="email">Email Address: </label> <input name="email" id="email"/>
  </div>
  <div class="input-block">
    <label for="salt">Salt Security code: </label> <input name="salt" id="salt"/>
  </div>
  <input type="submit" value="Register"/>
</form>